@charset "utf-8";
@font-face {
	font-family: SCDream;
	src: url('../font/SCDream3.otf');
	font-weight: normal;
}
@font-face {
	font-family: SCDream;
	src: url('../font/SCDream6.otf');
	font-weight: bold;
}
@font-face {
	font-family: Monkeyfont;
	src: url('../font/monkey.eot');
	src: url('../font/monkey.woff');
	font-weight: bold;
}

body {font-family: 'SCDream', sans-serif;}

h1, h2, h3, h4, h5 {font-family: 'Monkeyfont', sans-serif;}

.en  {font-family: 'Monkeyfont', sans-serif; font-size: 1.2rem;}

